<!DOCTYPE html>
<html>
<head>


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />


</head>
<body>
    <div class="label-success">This is a Layout View</div>
    <div class="container">
        @RenderBody()
    </div>



    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
<footer>
    
</footer>
</html>

